<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.yeohaengdam.user.mapper.UserMapper">

        <resultMap id="userDto" type="User">
                <result column="email" property="email"></result>
                <result column="nickname" property="nickname"></result>
                <result column="password" property="password"></result>
                <result column="role_type" property="roleType"></result>
                <result column="profile_image" property="profileImage"></result>
        </resultMap>

        <select id="findByOauthId">
            select *
            from users
            where oauth_id = #{aouthId};
        </select>

        <insert id ='join'>
                insert into users (email, password, nickname, profile_image, oauth_id)
                values (#{email}, #{password}, #{nickname}, #{profileImage}, #{oauthId})
        </insert>

        <select id ="findByEmail">
                select *
                from users
                where email = #{email}
        </select>

        <update id="updateProfile">
                update users
                set profile_image = #{profileImage}
                where email = #{email}
        </update>

        <update id = "updateNickname">
                update users
                set nickname = #{nickname}
                where email = #{email}
        </update>

        <update id = "updatePassword">
                update users
                set password = #{password}
                where email = #{email}
        </update>

        <delete id = "delete">
                delete
                from users
                where email = #{email}
        </delete>

        <!-- 닉네임 중복 확인 쿼리 -->
        <select id="checkNickname" resultType="boolean">
                SELECT CASE WHEN COUNT(*) > 0 THEN false ELSE true END
                FROM users
                WHERE nickname = #{nickname}
        </select>

</mapper>